/*
 * author: Colton Tshudy
 * version: 04/05/2023
 */

body,
html {
    height: 100%;
    width: 100%;

    background-color: rgba(182, 29, 182, 1);
    color: black;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.full-size {
    height: 100%;
    width: 100%;
}

.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#container {
    margin: auto auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
}

#gear-slider {
    margin: 15px;
    align-self: stretch;
}