.selectedBox{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid black;
  height: 300px;
  width: 400px;
}

.listU{
  display: flex;
  background-color: white;
  width: 80px;
  justify-content: normal;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
  
}

.listItems{
  background-color: white;
  flex-direction: row;
  width: fit-content;
  break-after: column;
}